<div class="bg-header">
    <nav class="navbar navbar-expand-sm  ">
        <div class="container-fluid">
            <a class="navbar-brand text" href="#">Computer institute</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon bg-light" *ngIf="option"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" *ngIf="option">
                <ul class="navbar-nav">

                    


                </ul>
            </div>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>
