<app-navbar></app-navbar>
<router-outlet></router-outlet>


<div class="backimg">
    <div id="t1">
        <p>Leading and Innovative <span id="t1-span" style="color: aqua; font-size: 6vw;">Coding</span> Training Institutes</p>
        <button type="button" class="t1-btn" (click)="onSave()">Enquire Now</button>
    </div>
</div>

<h2 class="course-h2">Programs Offered</h2>
<div class="course-1">
    <div class="courses">
        <div class="course-img img"><img src="" alt=""></div>
        <div class="course-p">
            <h4>Web Design</h4>
        </div>
        <div class="course-p">
            <p>Learn to crea dynamic websites & graphics designs for client to publish and market their
                products/servis.</p>
        </div>
        <div class="course-btn"><button type="button" routerLink="/course/web-design"> <b>Enquire Now</b> </button>
        </div>
    </div>
    <div class="courses">
        <div class="course-img img2"><img src="" alt=""></div>
        <div class="course-p">
            <h4>VFX Programing</h4>
        </div>
        <div class="course-p">
            <p>Create high-quality visual effects for advertisements,tv.flims and also for gaming application.</p>
        </div>
        <div class="course-btn"><button type="button" routerLink="/course/vfx-program"> <b>Enquire Now</b> </button>
        </div>
    </div>
    <div class="courses">
        <div class="course-img img3"><img src="" alt=""></div>
        <div class="course-p">
            <h4>Design & Publishing</h4>
        </div>
        <div class="course-p">
            <p>Design & publishing program trains students in all aspects of web designing ,digital graphics.</p>
        </div>
        <div class="course-btn"><button type="button" routerLink="/course/desing-publishing"> <b>Enquire Now</b>
            </button>
        </div>
    </div>
</div>




<section class="about">

    <div class="about-img" style="background-image: url('assets/img/about-us.webp');">
        <h2>About-us</h2>
        <b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed laborum est dignissimos temporibus maxime,
                nisi
                vero enim hic? Fugiat facilis totam esse molestiae blanditiis ipsa sed ducimus sapiente laboriosam porro
                tenetur quod dicta quisquam incidunt voluptatem dolore omnis iure suscipit, soluta numquam quam. Sunt,
                facere ipsam? Magnam, corrupti nihil! Adipisci.Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sed laborum est dignissimos temporibus maxime, nisi</p>
        </b>
    </div>

</section>
<h1 class="contactt">Contact us</h1>

<section class="container-fluid" class="contact">
    <div class="contact-img"></div>
    <div class="contact-us">
        <div class="contact-address">
            <h2><i class="fa-solid fa-map-location-dot"></i> &nbsp; Our Office Address</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Est quia, cupiditate.</p>
        </div>
        <div class="contact-address">
            <h2><i class="fa-regular fa-envelope"></i> &nbsp; General Enquire</h2>
            <p>biswas.ritwick527@gmail.com</p>

        </div>
        <div class="contact-address">
            <h2><i class="fa-solid fa-phone"></i> &nbsp; Contact No</h2>
            <p>7872070356</p>
        </div>
        <div class="contact-address">
            <h2><i class="fa-regular fa-clock"></i> &nbsp; Our Timing</h2>
            <p>Mon-Fri:07.00 am-09.00 pm </p>
            <p>sat:07.00 am-07.00 pm </p>
        </div>


    </div>
</section>